<div class="content">
    <div class="header text-center pt-3 pb-4 fw-bold">
        Civil
    </div>
    <div class="section mx-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <input type="text" (keyup)="searchUserName()" placeholder="Search" class="form-control"
                    [(ngModel)]="searchStr">
            </div>
            <div class="col add-question">
                <button class="d-flex align-items-center btn btn-success btn-sm" (click)="addQuestion()">
                    <i class="fa fa-plus" style="font-size:25px"></i>
                    <span class="ms-2">Add Question</span>
                </button>
            </div>
        </div>
        <div>
            <div class="row user-logo rounded-1 mt-4 mb-2 " *ngFor="let q of arr; let i=index;">
                <div class="col-lg-1 py-3">
                    <div class="box">
                        <img [src]="q.profileUrl" alt="userProfile" class="img-fluid">
                        <!-- <img src="../../../../assets/img files/girl.png" class="img-fluid" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-10 pt-4">
                    <p class="fw-bold p-0 m-0">{{q.userName}}<br></p>
                    <p>{{q.subject}}</p>
                    <p>{{q.questionBody}}</p>

                    <div class="row">
                        <div class="col-7">
                            <img [src]="q.imageUrl" class="img-fluid rounded-2 mb-3" alt="">
                            <hr>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                              <div class="like" (click)="comment(q.id)">
                                    <button class="like-button" (click)="onLikeClick()"
                                        [style]=" q.isLiked == true ? 'background-color: #f7e0eb;': 'background-color: white;'">
                                        <svg viewBox="0 0 24 24" aria-hidden="true"
                                            [style]=" q.isLiked == true ? 'fill: #f84a9b': 'fill: black'">
                                            <g>
                                                <path
                                                    d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z">
                                                </path>
                                            </g>
                                        </svg>
                                    </button>
                                    <span class="ps-2 pe-5 my-auto">{{q.likeCounter ? q.likeCounter : 0}}</span>
                                </div>
                                <div class="comment" (click)="comment(q.id)">
                                    <i class='far fa-comment' style='font-size:24px'></i><span
                                        class="ps-2 pe-5">{{q.commentCounter}}</span>
                                </div>
                                <div class="report" (click)="comment(q.id)">
                                    <i class="fa fa-file-archive-o" style="font-size:24px"></i><span
                                        class="ps-2 pe-5">Report</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
</div>