<div class="content">
    <div class="header text-center pt-3 pb-4 fw-bold">
        Administrative staff List
    </div>
    <div class="section mx-5">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 my-2 col-sm-6" *ngFor="let d of data; let i = index">
                <div class="card">
                    <div class="box">
                        <img [src]="d.profileUrl" class=" img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <span>Name: </span>
                            <span>{{d.firstName}}</span>
                        </div>
                        <div>
                            <span>Designation: </span>
                            <span>{{d.designation}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 my-2 col-sm-6 ">
                <div class="card">
                    <div class="box">
                        <img src="../../../../assets/img files/girl.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <span>Name: </span>
                        </div>
                        <div>
                            <span>Designation: </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 my-2 col-sm-6 ">
                <div class="card">
                    <div class="box">
                        <img src="../../../../assets/img files/boy.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <span>Name: </span>
                        </div>
                        <div>
                            <span>Designation: </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 my-2 col-sm-6 ">
                <div class="card">
                    <div class="box">
                        <img src="../../../../assets/img files/girl.png" class="img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <div>
                            <span>Name: </span>
                        </div>
                        <div>
                            <span>Designation: </span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>