<div class="main">
    <div class="row">
        <div class="col-lg-5 left-part">
            <div class="content">
                <p class="web-name">College Forum</p>
                <p class="punch-line">
                    Get your doubts knocked out with <br> our college forum asking website!
                </p>
            </div>


        </div>
        <div class="col-lg-7 right-part">
            <form [formGroup]="loginForm">
                <div class="row justify-content-center align-items-center">
                    <div class="col-5">
                        <div>
                            <label for="email">Email</label>
                            <input type="email" placeholder="Email" formControlName="email" class="form-control">
                            <small class="text-danger" *ngIf="email && email.invalid && email.touched">Please enter
                                valid email</small>

                        </div>

                        <div class="py-3">
                            <label for="password">Password</label>
                            <input type="password" placeholder="6+ characters" formControlName="password"
                                class="form-control">
                            <small class="text-danger" *ngIf="password && password.invalid && password.touched">Password
                                is required</small>

                        </div>

                        <div>
                            <button class="btn login-btn px-5 py-1" (click)="signIn()"
                                [disabled]="loginForm.invalid">Login</button>
                        </div>
                        <div class="my-4">
                            <div>
                                <p>Don't have an account <span class="register-text"
                                        routerLink="/auth/register">register</span> <br>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>