<div class="main">
    <div class="row">
        <div class="col-lg-5 left-part">
            <div class="content">
                <p class="web-name">College Forum</p>
                <p class="punch-line">
                    Get your doubts knocked out with <br> our college forum asking website!
                </p>
            </div>


        </div>
        <div class="col-lg-7 right-part">
            <div class="row justify-content-center align-items-center">
                <div class="col-10">
                    <div class="row">
                        <div class="col-lg-6 pt-3">
                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="Middle Name">
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="col-lg-4 my-2">
                                <span class="text-danger">*</span> Contact no.
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="Contact no.">
                            </div>

                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control" placeholder="PIN Code">
                            </div>
                            <div class="col-lg-4 my-2">
                                <span class="text-danger">*</span> Designation
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-4 my-2">
                                <span class="text-danger">*</span> Department
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-4 my-2">
                                DOB
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-4 my-2">
                                Gender
                            </div>
                            <div class="my-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="imageData">
                                <div class="box">

                                </div>

                                <div class="bg-white pt-3 pb-2">
                                    <input type="file" class="form-control" name="file" (input)="onSelectFile($event)">
                                </div>
                            </div>
                            <div class="col-lg-4 my-2" style="padding-top: 1px;">
                                <span class="text-danger">*</span> Email

                            </div>
                            <div class="col-lg-8 my-2">
                                <input type="text" class="form-control">
                            </div>

                            <div class="my-2">
                                <span class="text-danger">*</span> Username
                            </div>
                            <div class=" my-2">
                                <input type="text" class="form-control">

                            </div>
                            <div class="my-2">
                                <span class="text-danger">*</span> Password
                            </div>
                            <div class=" my-2">
                                <input type="text" class="form-control">

                            </div>
                            <div class="my-2">
                                <span class="text-danger">*</span><span> Confirm Password</span>
                            </div>
                            <div class=" my-2">
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <span>
                            <button class="btn btn-sign-up px-3 py-2">Sign up</button>
                        </span>

                    </div>
                </div>
                <!-- col-10 end -->
            </div>

        </div>
    </div>
</div>