<div class="body">
    <div class="container-fluid font-font-cursive">
        <div class="section">
            <div class="row">
                <div class="col-lg-10 pb-5 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div>
                                <!-- Logo -->
                            </div>
                            <div class="col-lg-6">
                                <div class="text-center mb-2 fw-bold h1 font-great-vibes">
                                    Registration
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 my-2">
                                        First Name
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        Middle Name
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        Last Name
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        <span class="text-danger">*</span> Email
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        <span class="text-danger">*</span> Contact no.
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        City
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        PIN Code
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        Designation
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        Department
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        DOB
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        Gender
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                       <span class="text-danger">*</span> Username
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        <span class="text-danger">*</span> Password
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                    <div class="col-lg-4 my-2">
                                        <span class="text-danger">*</span> Confirm Password
                                    </div>
                                    <div class="col-lg-8 my-2">
                                        <input type="text" class="form-control">
    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="text-center fw-bold h1 font-great-vibes">
                                    Welcome to college Forum
                                </div>
                                <div class="imageData">
                                    <div class="box">
    
                                    </div>
    
                                </div>
                                <div class="text-center file-label py-2">
                                    <input type="file" name="file" (input)="onSelectFile($event)">
                                </div>
                                <div class="text-center my-3">
                                    <button type="submit" class="btn regBtn btn-sm px-4 btn-success rounded-1"
                                        (click)="register()">Register</button>
                                </div>
                                <div class="text-center">
                                    <div>Already have an account ?</div>
                                    <span class="sign-up-text" routerLink="/auth/login">Sign in here</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

</div>