<div class="content">
    <div class="header text-center pt-3 pb-4 fw-bold">
        Computer Science & Engineering
    </div>
    <div class="section mx-5">
        <div>
            <div class="row user-logo rounded-1 mt-4 mb-2 ">
                <div class="col-lg-1 py-3">
                    <div class="box">
                        <img [src]="data?.profileUrl" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-10 pt-4" [formGroup]="commentForm">
                    <p class="fw-bold p-0 m-0">{{data?.userName}} <br></p>
                    <p>{{data?.subject}}</p>
                    <p>{{data?.questionBody}}</p>

                    <div class="row">
                        <div class="col-7">
                            <img [src]="data?.imageUrl" class="img-fluid rounded-2 mb-3" alt="">
                            <hr>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="like">
                                    <i class='far fa-heart' style='font-size:24px'></i><span class="ps-2 pe-5">0</span>
                                </div>
                                <div class="comment">
                                    <i class='far fa-comment' style='font-size:24px'></i><span
                                        class="ps-2 pe-5">{{commentCounter}}</span>
                                </div>
                                <div class="report">
                                    <i class="fa fa-file-archive-o" style="font-size:24px"></i><span
                                        class="ps-2 pe-5">Report</span>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="input-reply">
                                    <input type="text" class="form-control rounded-5" formControlName="description"
                                        placeholder="Type your reply">
                                </div>
                                <div>
                                    <button class="btn btn btn-success reply rounded-5 px-3"
                                        (click)="addComment()" [disabled]="this.commentForm.value.description ? false : true">Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- comment replies -->
            <div class="replies">
                <div class="row user-logo rounded-1 mt-4 mb-2 " *ngFor="let c of arr; let i=index">
                    <div class="col-lg-1 py-3">
                        <div class="box">
                            <img [src]="c.profileUrl" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-10 pt-4">
                        <p class="fw-bold p-0 m-0">{{c.userName}} <span class="fw-bold date">{{c.time}} | {{c.date}}</span><br></p>
                        <p>{{c.description}} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>