.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 97vh;
    margin-left: 10px;

    .content {
        padding-left: 10px;

        .faculty-content,
        .department-content {
            font-size: small;
        }

        .faculty,
        .alumini,.report
        .departments {
            font-weight: bold;
            padding-top: 10px;
        }

        li:hover,
        .alumini:hover, .report:hover {
            cursor: pointer;
            color: #0f3f7f;
        }

        .administration:hover,
        .college-faculty,
        .cse:hover,
        .mech:hover,
        .electronics:hover,
        .civil:hover,
        .ai:hover {
            cursor: pointer;
            color: #0f3f7f;
        }

    }
}