<div class="content">
    <div>
        <label for="Faculty" class="faculty">Faculty</label>
        <ul>
            <li routerLink="/landing-page/faculty/administration">Administration</li>
            <li routerLink="/landing-page/faculty/college-faculty">College Faculty</li>
        </ul>
    </div>
    <div>
        <label for="Alumini" class="alumini">Alumini</label>
        <!-- <ul>
            <li></li>
          </ul> -->
    </div>
    <div>
        <label for="Departments" class="departments">Departments</label>
        <ul>
            <li routerLink="/landing-page/departments/cse">Computer science & Engineering</li>
            <li routerLink="/landing-page/departments/electronics">Electronics</li>
            <li routerLink="/landing-page/departments/mechanical">Mechanical</li>
            <li routerLink="/landing-page/departments/civil">Civil</li>
            <li routerLink="/landing-page/departments/ai&ds">AI & DS</li>
            <li disabled="true" routerLink="/landing-page/faculty/administration">Administration</li>
        </ul>
    </div>
</div>