.container-fluid {

    background: url("../../../assets/img files/6836923.jpg") no-repeat center/ cover;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 35rem;
        box-shadow: 5px 20px 50px #000;

        .reset-password {
            // font-family: 'Great Vibes', cursive;
            font-family: 'Great Vibes', cursive;
            color: #0f3f7f;
            font-size: 30px;

        }

        .height {
            height: 90vh;
        }

        .spacing {
            line-height: 13%;

            .register-text:hover {
                color: red;
                cursor: pointer;
            }

            .forget-pass-text:hover {
                color: blue;
                cursor: pointer;
            }
        }

        .regBtn {
            font-size: large;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

::placeholder {
    text-align: center;
    font-size: 18px;
}

.font-font-cursive {
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Allura', cursive;
    // font-family: 'Great Vibes', cursive;
    font-size: 20px;
    font-weight: bold;

    color: #092145;
}

.font-great-vibes {
    // font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
    color: #0f3f7f;
}