<div class="card mb-3">
    <div class="content">
        <div class="row">
            <div class="col-4 font-great-vibes logo py-2">
                College Forum
            </div>
            <div class="col-4 my-auto">
                <p class="text-center">Content name</p>
            </div>
            <div class="col-4 my-auto">
                <div class="text-end d-flex justify-content-end ">
                    <div class="home">
                        <i class="fa fa-home" style="font-size:36px"></i>
                    </div>
                    <div class="profile mx-3">
                        <i class="fa fa-user" style="font-size:36px"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>