.content {
    // border-bottom: 2px solid #dfdfdf;
    // background-color: red;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.font-great-vibes {
    // font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
    font-size: xx-large;
    color: #0f3f7f;
}

.logo {
    padding-left: 25px;
}