<div class="content">
    <div class="header text-center pt-3 pb-4 fw-bold">
        All Question List
    </div>
    <div class="section mx-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <input type="text" (keyup)="searchUserName()" placeholder="Search" class="form-control"
                    [(ngModel)]="searchStr">
            </div>
        </div>
        <div>
            <div class="row user-logo rounded-1 mt-4 mb-2 " *ngFor="let q of arr; let i=index;">
                <div class="col-lg-1 py-3">
                    <div class="box">
                        <img [src]="q.profileUrl" alt="userProfile" class="img-fluid">
                        <!-- <img src="../../../../assets/img files/girl.png" class="img-fluid" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-10 pt-4">
                    <p class="fw-bold p-0 m-0">{{q.userName}}<br></p>
                    <p>{{q.subject}}</p>
                    <p>{{q.questionBody}}</p>
                    <div class="row">
                        <div class="col-7">
                            <img [src]="q.imageUrl" class="img-fluid rounded-2 mb-3" alt="">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>